Edit gdlemonitor.json
<div class="container">
    <div class="ms-card ms-fill ms-border">
        <div class="row">
            <div class="col-sm">
                <button class="ms-btn ms-primary" onclick="Savejson('/gdlemonitor.json')">Save</button>
            </div>
        </div>
        <div id='editor_holder'></div>
    </div>
</div>
<script type="text/javascript">
    var pageWants = 6;
    function Loadjson(uri) {
        fetch(uri)
            .then((response) => response.json())
            .then((data) => {
                editor.setValue(data)
            })
    }
    function Savejson(uri) {
        fetch(uri, {
            method: 'put',
            body: JSON.stringify(editor.getValue(), null, 2)
        })
            .then(response => {
                if (response.status !== 200) {
                    console.log("Savejson(" + uri + ") error: " + response.status + ": " + response.statusText)
                }
            });
    }
    var editor = new JSONEditor(document.getElementById('editor_holder'), {
        theme: 'barebones',
        iconlib: "fontawesome4",
        ajax: true,
        //display_required_only: true,
        //disable_properties: true,
        disable_collapse: true,
        //disable_edit_json: true,
        schema: { "$ref": "/schema/gdlemonitor.json" }
    });
    editor.on('ready', function () {
        Loadjson('/gdlemonitor.json');
    });
</script>
