GDLE Server Monitor
<div class="container">
    <div class="ms-card ms-fill ms-border">
        <div class="row">
            <div class="col-sm">
                <H3><i class="bi bi-exclamation-triangle ms-text-action2"></i> Under Construction <i class="bi bi-exclamation-triangle ms-text-action2"></i></H3>
                Welcome to {{ .DomainName }}, the future home of FunkyTown 2.0, and GDLEMonitor. I tried for almost an hour, to center this element, on the page. I couldn't get it to work; but that should sumarize the state of the rest of the page. <strong>Proceed with caution.</strong>
            </div>
        </div>
        {{if not .Gdle.Config }}<div class="col-sm-3 ms-alert"><span class="ms-text-primary"><i class="bi bi-exclamation-circle"></i> Gdle.Config</span><br>Gdle.Config is blank. Auth requires Gdle.DB</div>{{end}}
        {{if eq .DomainName "localhost" }}<div class="col-sm-3 ms-alert"><span class="ms-text-primary"><i class="bi bi-exclamation-circle"></i> DomainName</span><br>DomainName is localhost. Using Self-signed TLS Certificates only.</div>{{end}}
        {{if not .DomainContact }}<div class="col-sm-3 ms-alert"><span class="ms-text-primary"><i class="bi bi-exclamation-circle"></i> DomainContact</span><br>DomainContact is blank. Valid E-Mail address required for TLS Certificate Generation.</div>{{end}}
    </div>
</div>
