::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(var(--main-bg), 1.0);
}

::-webkit-scrollbar-thumb {
    background: rgba(var(--default-border-color), 0.6);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--default-border-color), 1.0);
}


.dropdown {
    overflow: hidden;
    font-weight: 400;
    height: inherit;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: 0.2s ease all;
    text-decoration: none;
    font-weight: 600;

}

.dropdown:hover .dropbtn {
    background-color: rgba(var(--action-bg-color), 0.2);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(var(--light-bg-color), 1);
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: var(--default-border-radius);
    transition: 0.2s ease all;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: var(--default-border-radius);
    transition: 0.2s ease all;
}

.dropdown-content div {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: var(--default-border-radius);
    transition: 0.2s ease all;
}

.dropdown-content a:hover {
    background-color: rgba(var(--action-bg-color), 0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.je-modal {
    box-shadow: black 3px 3px !important;
    position: absolute !important;
    z-index: 10 !important;

    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    vertical-align: middle !important;
    /* Color */
    background-color: rgba(var(--main-bg), 1) !important;
    color: rgba(var(--alert-text-color), 1) !important;
    /* Font */
    font-size: 0.9rem !important;
    /* Border */
    border: 2px solid rgba(var(--default-border-color), 1) !important;
    border-radius: var(--default-border-radius) !important;


}

.property-selector-input {
    display: none !important;
}

.ms-btn-group .ms-btn {
    border: 1px solid rgba(var(--default-border-color), 1);

}

.ms-btn-group input[type="text"],
.ms-btn-group input[type="password"] {
    margin: 0.1rem 0;
}

.ms-btn-group input:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 1px solid rgba(var(--default-border-color), 1);
}

.ms-btn-group input[type="text"]:first-child:not(:last-child).ms-outline,
.ms-btn-group input[type="password"]:first-child:not(:last-child).ms-outline {
    border-right: 0px;
}

.ms-btn-group input[type="text"]:first-child:not(:last-child).ms-underline,
.ms-btn-group input[type="password"]:first-child:not(:last-child).ms-underline {
    border-right: 0px;
}

.ms-btn-group input[type="text"]:not(:first-child):not(:last-child),
.ms-btn-group input[type="password"]:not(:first-child):not(:last-child) {
    border-radius: 0;
    border-right: 1px solid rgba(var(--default-border-color), 1);
}

.ms-btn-group input[type="text"]:not(:first-child):not(:last-child).ms-outline,
.ms-btn-group input[type="password"]:not(:first-child):not(:last-child).ms-outline {
    border-right: 0px;
}

.ms-btn-group input[type="text"]:not(:first-child):not(:last-child).ms-underline,
.ms-btn-group input[type="password"]:not(:first-child):not(:last-child).ms-underline {
    border-right: 0px;
}

.ms-btn-group input[type="text"]:last-child:not(:first-child),
.ms-btn-group input[type="password"]:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.bi-inset {
    position: relative;
}

.bi-inset .i-inset {
    position: absolute;
    padding-top: 6px;
    padding-left: 20px;
    pointer-events: none;
    left: 0px;
    font-size: 1.5em;
    color: rgba(var(--light-text-color), 1);
}

.bi-inset .i-inset~input,
.bi-inset .i-inset~button,
.bi-inset .i-inset~div input {
    padding-left: 40px;
}

.ms-menu .ms-menu-link li {
    vertical-align: top;
}

input:invalid,
select:invalid {
    border-color: rgba(var(--primary-bg-color), 1) !important;
}

input:invalid~.undo-button,
select:invalid~.undo-button {
    display: inline-block;
}

.save-menu {
    display: none;
}

.save-div:has(.y-list li div input:invalid, .y-list li div select:invalid, .y-list li div label input:invalid) .save-menu {
    display: inline-block;
}

.has-undo-button {
    width: calc(100% - 55px) !important;
}

.undo-button {
    display: none;
}

.y-check {
    appearance: none;
    /* content: "FALSE";
    font-weight: 600;
    font-size: large;
    justify-self: left;
    color: rgba(var(--main-bg), 1);
    transition: .4s;
    /* background-color: rgba(var(--secondary-bg-color), 1); */
    /* border-radius: var(--default-border-radius);
    color: rgba(var(--main-text-color), 1);
    height: 1.5em;
    border: 2px solid rgba(var(--default-border-color), 1); */
}

.y-check:before {
    font-weight: 600;
    font-size: large;
    color: rgba(var(--main-text-color), 1);
    transition: .4s;
    padding: 5px 15px;
    /* background-color: rgba(var(--secondary-bg-color), 1); */
    border-radius: var(--default-border-radius);
    content: "FALSE";
    background-color: rgba(var(--secondary-bg-color), 0.6);
}

.y-check:checked:before {
    content: "TRUE";
    background-color: rgba(var(--primary-bg-color), 0.6);
}

.account-list {
    margin: 0;
    padding: 0;
    display: block;
}

.account-list li {
    list-style: none;
    margin: 0.5em 0;
    padding: 0;
    background-color: rgba(var(--light-bg-color), 0.4);
    display: inline-block;
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
    font-weight: 500;
    color: rgba(var(--main-text-color), 1);
    margin: 0;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    transition: 0.25s;
    border: 2px solid rgba(var(--default-border-color), 1);
    border-radius: var(--default-border-radius);
}

.account-list .active-account {
    background-color: rgba(var(--secondary-bg-color), 0.4);
}

.account-list li:hover {
    background-color: rgba(var(--light-bg-color), 1);
}

.account-list .active-account:hover {
    background-color: rgba(var(--secondary-bg-color), 1);
}

.y-list {
    margin: 0;
    padding: 0;
    display: block;
}

.y-list li {
    list-style: none;
    margin: 0.5em 0;
    padding: 0;
    background-color: rgba(var(--main-bg-color), 0.4);
}

.y-list li label {
    /* cursor: pointer; */
    display: inline-block;
    font-size: 0.9rem;
    text-align: right;
    width: 25%;
    font-weight: 500;
    color: rgba(var(--main-text-color), 1);
    margin: 0;
    padding: 0.3rem 0.5rem;
}

.y-list li label a {
    cursor: pointer;
}

.y-list li span {
    display: inline-block;
    width: 75%;
    font-size: 1rem;
    font-weight: 400;
    vertical-align: text-bottom;
    color: rgba(var(--main-text-color), 0.8);
    margin: 0;
    padding: 0 0.8rem;
    border: 2px solid rgba(var(--default-border-color), 1);
    min-height: 1.5rem;
    border-radius: var(--default-border-radius);
    font-family: Inter, sans-serif;
    background-color: rgba(var(--main-bg), 1);
}

.y-list li div {
    display: inline-block;
    width: 75%;
}

.y-list li select {
    display: inline-block;
    width: 75%;
}

.y-list li input {
    display: inline-block;
    width: 75%;
}

.form-control p {
    margin-top: 0;
    color: rgba(var(--main-text-color), 0.8);
}

.pagination {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    margin: 0;
}

.pagination a,
.pagination i {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    color: rgba(var(--main-text-color), 1);
    text-align: center;
    font-size: 10px;
    padding: 3px 0 3px 0;
    user-select: none;
    margin: 0 1px 0 1px;
}

.pagination a {
    border-radius: calc(var(--default-border-radius) /2);
    border: 1px solid rgba(var(--default-border-color), 1);
    cursor: pointer;
    box-shadow: 0 0 0 1px rgba(var(--default-bg-color), 0.2);
    background-color: rgba(var(--light-bg-color), 1);
}

.pagination a:hover {
    background-color: rgba(var(--light-bg-color), 0.4);
}

.switch-theme {
    z-index: 999;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
    background-color: rgba(var(--light-bg-color), 1);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: calc(var(--default-border-radius));
    border: 1px solid rgba(var(--default-border-color), 1);
}

[data-theme='light'] .switch-theme::before {
    font-size: 2em;
    content: "\f497";
    alt: "Switch to Dark Mode";
}

[data-theme='dark'] .switch-theme::before {
    font-size: 2em;
    content: "\f5a2";
    alt: "Switch to Light Mode";
}