Account Settings
<script type="text/javascript">
    var pageWants = 0;
    if (!claims) {
        window.location.replace("/");
    }
    function UpdateAccount(e, form) {
        e.preventDefault();
        if (!form.checkValidity()) {
            return;
        }


    }


    function ValidateRepeatPassword(t) {
        if (t.value != document.getElementById("user_new-password").value) {
            t.setCustomValidity("The passwords do not match!");
        } else {
            t.setCustomValidity("");
        }
        hideIfValid(t, "user_new-password-repeat_under");
    }
    function hideIfValid(t, elem) {
        if (t.checkValidity()) {
            hideElem(elem);
        } else {
            showElem(elem);
        }
    }

</script>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3>User Account settings.</h3>
            Use this page to change user settings.
        </div>
    </div>
    <hr>

    <form onsubmit="SetEmail(event, this);">
        <div class="row" id="regemail_row">
            <div class="col-sm-9 bi-inset" style="margin: 0;margin-top:auto;">
                <label for="email_user">E-Mail</label>
                <i class='bi i-inset bi-mailbox'></i>
                <input class="ms-fullwidth" type="text" placeholder="E-Mail" id="email_user" name="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" oninput="hideIfValid(this,'regemail_under');" autocomplete="email" />
                <span class="ms-under-input ms-text-primary" id="regemail_under"><small>Must be valid</small></span>
            </div>
            <div class="col-sm-3" style="margin: 0;margin-top:auto;">
                <button id="userSetEmailButton" class="ms-btn ms-medium ms-primary ms-fullwidth">Set E-Mail</button>
            </div>
        </div>
    </form>


    <hr>

    <form onsubmit="SetPassword(event, this);">
        <div class="row" id="regpassword_row">
            <div class="col-sm-3 bi-inset" style="margin: 0;margin-top:auto;">
                <label for="user_current_password"><span class="ms-text-primary">* </span>Current Password</label>
                <input type="hidden" id="user_current_username" autocomplete="username" />
                <i class="bi i-inset bi-shield-lock"></i>
                <div class="ms-fullwidth ms-btn-group">
                    <input class="ms-fullwidth" type="password" placeholder="Password" id="user_current_password" required oninput="hideIfValid(this,'user_current_password_under');" autocomplete="current-password" style="width: calc(100% - 49px) !important;" onblur="HidePasswordEvent(event);" />
                    <button type="button" class="ms-btn bi-eye-slash" title="Show Password" onclick="TogglePasswordEvent(event);"></button>
                </div>
                <span class="ms-under-input ms-text-primary" id="user_current_password_under"><small>Required</small></span>
            </div>
            <div class="col-sm-3 bi-inset" style="margin: 0;margin-top:auto;">
                <label for="user_new-password"><span class="ms-text-primary">* </span>New Password</label>
                <i class="bi i-inset bi-shield-lock"></i>
                <div class="ms-fullwidth ms-btn-group">
                    <input class="ms-fullwidth" type="password" placeholder="Password" id="user_new-password" required pattern="^[a-z0-9&?!*^%#@\-_=|]{8,}$" minlength="8" autocomplete="new-password" style="width: calc(100% - 98px) !important;" onblur="HidePasswordEvent(event);" oninput="hideIfValid(this,'user_new-password_under');" />
                    <button type="button" class="ms-btn bi-eye-slash" title="Show Password" onclick="TogglePasswordEvent(event);"></button>
                    <button type="button" class="ms-btn bi-shield-plus" title="Generate Password" onclick="GenFormPassword(event,12,'0123456789abcdefghijklmnopqrstuvwxyz&?!*^%#@-_=|');hideElem('user_new-password_under');"></button>
                </div>
                <span class="ms-under-input ms-text-primary" id="user_new-password_under"><small>Must be at least 8 characters long, no uppercase. Using: [a-z0-9&?!*^%#@\-_=|]</small></span>
            </div>
            <div class="col-sm-3 bi-inset" style="margin: 0;margin-top:auto;">
                <label for="user_new-password-repeat"><span class="ms-text-primary">* </span>Retype password</label>
                <i class="bi i-inset bi-shield-lock"></i>
                <div class="ms-fullwidth ms-btn-group">
                    <input class="ms-fullwidth" type="password" placeholder="Password" id="user_new-password-repeat" required autocomplete="off" style="width: calc(100% - 49px) !important;" onblur="HidePasswordEvent(event);" oninput="ValidateRepeatPassword(this);" />
                    <button type="button" class="ms-btn bi-eye-slash" title="Show Password" onclick="TogglePasswordEvent(event);"></button>
                </div>
                <span class="ms-under-input ms-text-primary" id="user_new-password-repeat_under"><small>Must match Password</small></span>
            </div>
            <div class="col-sm-3" style="margin: 0;margin-top:auto;">
                <button id="userSetPasswordButton" class="ms-btn ms-medium ms-primary ms-fullwidth">Set Password</button>
            </div>
            <span class="ms-under-input ms-text-action2"><small id="userSetPasswordButton_reason"></small></span>
        </div>
    </form>

    <hr>
    <datalist id="regsq">
        <option>What is the airspeed velocity of an unladen swallow?</option>
        <option>In what city did you meet your spouse/significant other?</option>
        <option>What was your childhood nickname?</option>
        <option>What is the name of your favorite childhood friend?</option>
        <option>What street did you live on in third grade?</option>
        <option>What is your oldest sibling's birthday month and year? (e.g., January 1900)</option>
        <option>What is the middle name of your youngest child?</option>
        <option>What is your oldest sibling's middle name?</option>
        <option>What school did you attend for sixth grade?</option>
        <option>What was your childhood phone number including area code? (e.g., 000-000-0000)</option>
        <option>What is your oldest cousin's first and last name?</option>
        <option>What was the name of your first stuffed animal?</option>
        <option>In what city or town did your mother and father meet?</option>
        <option>Where were you when you had your first kiss?</option>
        <option>What is the first name of the boy or girl that you first kissed?</option>
        <option>What was the last name of your third grade teacher?</option>
        <option>In what city does your nearest sibling live?</option>
        <option>What is your youngest brother's birthday month and year? (e.g., January 1900)</option>
        <option>What is your maternal grandmother's maiden name?</option>
        <option>In what city or town was your first job?</option>
        <option>What is the name of the place your wedding reception was held?</option>
        <option>What is the name of a college you applied to but didn't attend?</option>
        <option>Where were you when you first heard about 9/11?</option>
    </datalist>

    <form id="sqform" onsubmit="SetSq(event, this);">
        <br>
        <div id="sq_holder" class="row"></div>
        <br>
        <div class="col-sm-12">
            <button id="userSetSqButton" class="ms-btn ms-medium ms-primary ms-fullwidth">Update Security Questions</button>
        </div>


    </form>


    <script type="text/javascript">
        function addSQ(rowid, optional) {
            let holder = document.getElementById("sq_holder");

            let row = document.createElement("div");


            let q = document.createElement("div");
            let qlabel = document.createElement("label");
            let qi = document.createElement("i");
            let qinput = document.createElement("input");

            if (optional) {
                qlabel.innerHTML = 'Security Question #' + rowid;
                qlabel.style.opacity = 0.75;
                qlabel.title = "Optional";
            } else {
                qlabel.innerHTML = '<span class="ms-text-primary">* </span>Security Question #' + rowid;
                qlabel.title = "Required";
                qinput.required = true;
            }
            row.className = "row";
            row.id = "regsq" + rowid + "_row";

            q.className = "col-sm-6 bi-inset";
            qi.className = "bi i-inset bi-question";
            qinput.className = "ms-fullwidth";
            qinput.type = "text";
            qinput.placeholder = "Security Question #" + rowid;
            qinput.id = "regsq" + rowid;
            qinput.name = qinput.id;
            qinput.setAttribute('list', 'regsq');
            qinput.autocomplete = "off";
            qinput.original = '';
            qinput.oninput = () => { sq_input(qinput); };

            q.appendChild(qlabel)
            q.appendChild(qi)
            q.appendChild(qinput)

            row.appendChild(q);

            let a = document.createElement("div");
            let alabel = document.createElement("label");
            let ainput = document.createElement("input");

            if (optional) {
                alabel.innerHTML = 'Answer #' + rowid;
                alabel.style.opacity = 0.75;
                alabel.title = "Optional";
            } else {
                alabel.innerHTML = '<span class="ms-text-primary">* </span>Answer #' + rowid;
                alabel.title = "Required";
                ainput.required = true;
            }

            a.className = "col-sm-6";

            ainput.className = "ms-fullwidth";
            ainput.type = "text";
            ainput.placeholder = "Answer #" + rowid;
            ainput.id = "regsa" + rowid;
            ainput.name = ainput.id;
            ainput.autocomplete = "off";
            ainput.oninput = () => { sq_input(ainput); };
            ainput.original = '';

            a.appendChild(alabel);
            a.appendChild(ainput);

            row.appendChild(a);

            holder.appendChild(row);

        }
        function setOptional(elem) {
            document.getElementById(elem).required = false;
            let h = document.getElementById(elem + "_required");
            h.classList.remove("ms-text-primary");
            h.parentElement.style.opacity = 0.75;
            h.innerHTML = '';
            h.parentElement.title = 'Optional';
        }

        // Security Question count based on api_conf.account_sq_max
        // if count is 0, hide the submit button
        if (api_conf.account_sq_max == 0) {
            hideElem("userSetSqButton");
        }

        // iterate through all (potentially 0) security questions, and call addSQ.
        // optional is set with a condition, here.
        for (let i = 1; i <= api_conf.account_sq_max; i++) {
            addSQ(i, i > api_conf.account_sq_min);
        }


        function SetPassword(e, t) {
            e.preventDefault();

            var newPassword = document.getElementById("user_new-password").value;
            if (newPassword != document.getElementById("user_new-password-repeat").value) {
                document.getElementById("user_new-password-repeat").focus();
                alert("The passwords do not match!");
                return false;
            }

            tempDisableButton(document.getElementById("userSetPasswordButton"), 2000);
            let responseStatus = 0;
            fetch('/account', {
                method: 'PUT',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ "current_password": document.getElementById("user_current_password").value, "password": newPassword })
            })
                .then(response => {
                    responseStatus = response.status;
                    return response.text();
                }).then(data => {
                    document.getElementById("userWarningContent").innerHTML = responseStatus + ": " + data;
                    showElem("userWarning");
                    updateUser();
                    document.getElementById("userSetPasswordButton").disabled = false;
                    document.getElementById("userSetPasswordButton").innerHTML = 'Set Password';
                });

            newPassword = "";
            document.getElementById("user_current_password").value = "";
            document.getElementById("user_new-password").value = "";
            document.getElementById("user_new-password-repeat").value = "";
        }




        function SetEmail(e, t) {
            e.preventDefault();
            var email = document.getElementById("email_user").value
            if (!email.match(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/)) {
                document.getElementById("email_user").focus();
                alert("E-Mail address must be valid!");
                return false;
            }
            if (email.toLowerCase() == claims.email.toLowerCase()) {
                document.getElementById("email_user").focus();
                alert("E-Mail address must be different!");
                return false;
            }

            tempDisableButton(document.getElementById("userSetEmailButton"), 2000);
            let responseStatus = 0;
            fetch('/account', {
                method: 'PUT',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ "email": email })
            })
                .then(response => {
                    responseStatus = response.status;
                    return response.text();
                }).then(data => {
                    document.getElementById("userWarningContent").innerHTML = responseStatus + ": " + data;
                    showElem("userWarning");
                    updateUser();
                    document.getElementById("userSetEmailButton").disabled = false;
                    document.getElementById("userSetEmailButton").innerHTML = 'Set E-mail';
                });

        }

        function SetSq(e, t) {
            e.preventDefault();

            if (!t.checkValidity()) {
                return;
            }
            let resu = [];
            for (let i = 1; i <= api_conf.account_sq_max; i++) {
                let q = document.getElementById("regsq" + i).value;
                let a = document.getElementById("regsa" + i).value;
                if (a.length + q.length > 0) {
                    resu[resu.length] = { q: q, a: a };
                }
            }
            tempDisableButton(document.getElementById("userSetSqButton"), 15000);

            let responseStatus = 0;
            fetch('/account', {
                method: 'PUT',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ security: resu })
            })
                .then(response => {
                    responseStatus = response.status;
                    return response.text();
                }).then(data => {
                    document.getElementById("userWarningContent").innerHTML = responseStatus + ": " + data;
                    showElem("userWarning");
                    updateUser();
                    document.getElementById("userSetSqButton").disabled = false;
                    document.getElementById("userSetSqButton").innerHTML = 'Update Security Questions';
                });
        }

        function sq_input(t) {
            if (t.original != t.value) {
                t.classList.add("ms-secondary");
            } else {
                t.classList.remove("ms-secondary");
            }
        }
        function assign_value(elem, value) {
            let ee = document.getElementById(elem);
            ee.classList.remove("ms-secondary");
            ee.value = value;
            ee.original = value;

        }
        function UpdateSQ() {
            fetch('/account', { method: 'GET' })
                .then(response => {
                    if (!response.ok) {
                        document.getElementById("userWarningContent").innerHTML = "Request error " + response.status + ": " + response.statusText;
                        showElem("userWarning");
                        return;
                    }
                    return response.json();
                })
                .then(json => {
                    for (let i = 1; i <= api_conf.account_sq_max; i++) {
                        if (i <= json.length) {
                            assign_value("regsq" + i, json[i - 1].q);
                            assign_value("regsa" + i, json[i - 1].a);
                        } else {
                            assign_value("regsq" + i, "");
                            assign_value("regsa" + i, "");

                        }

                    }

                });
        }

        window.addEventListener('load', (event) => {
            if (claims && claims.email != "") {
                document.getElementById("email_user").value = claims.email;
                hideIfValid(document.getElementById("email_user"),'regemail_under')
            }
            if (claims && claims.username != "") {
                document.getElementById("user_current_username").value = claims.username;
            }
            if (claims && claims.username != "" && api_conf.account_sq_max != 0) {
                UpdateSQ();
            }
        });




    </script>
</div>
