Create GDLE Account
<script type="text/javascript">
    function RegisterAccount(e, form) {
        e.preventDefault();

        if (!form.checkValidity()) {
            return;
        }

        let jsonFormData = {};
        for (const pair of new FormData(form)) { jsonFormData[pair[0]] = pair[1]; }
        jsonFormData['security'] = [];
        for (let i = 1; i <= api_conf.account_sq_max; i++) {
            let q = document.getElementById("regsq" + i).value;
            let a = document.getElementById("regsa" + i).value;
            if (a.length + q.length > 0) {
                jsonFormData['security'][jsonFormData['security'].length] = { q: q, a: a };
            }
        }

        tempDisableButton(document.getElementById("reg_submit"), 15000);
        let responseStatus = 0;
        fetch('/account', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(jsonFormData)
        })
            .then(response => {
                responseStatus = response.status;
                return response.text();
            }).then((data) => {
                if (responseStatus == 200) {
                    window.location.replace("/");
                    return;
                }
                document.getElementById("userWarningContent").innerHTML = "" + responseStatus + ": " + data;
                showElem("userWarning");
                updateUser();
                document.getElementById("reg_submit").disabled = false;
                document.getElementById("reg_submit").innerHTML = 'Create Account';
            })


    }
    function ValidateRepeatPassword(t) {
        if (t.value != document.getElementById("regpassword").value) {
            t.setCustomValidity("The passwords do not match!");
        } else {
            t.setCustomValidity("");
        }
        hideIfValid(t, "regpassword_repeat_under");
    }
    function ValidateUsername(i) {
        GetAccount(i.value, (status) => {
            if (status == 400) {
                i.setCustomValidity("Invalid Format");
                document.getElementById("regusername_under").classList.remove("ms-text-secondary");
                document.getElementById("regusername_under").classList.add("ms-text-primary");
                document.getElementById("regusername_under").innerHTML = '<small>Must be at least 3 characters long, Using: [a-zA-Z0-9_]</small>';
                return;
            }
            if (status == 404) {
                i.setCustomValidity("");
                document.getElementById("regusername_under").classList.remove("ms-text-primary");
                document.getElementById("regusername_under").classList.add("ms-text-secondary");
                document.getElementById("regusername_under").innerHTML = 'Username "' + i.value + '" is available!';
                return;
            }
            if (status == 204) {
                i.setCustomValidity("Username in use");
                document.getElementById("regusername_under").classList.remove("ms-text-secondary");
                document.getElementById("regusername_under").classList.add("ms-text-primary");
                document.getElementById("regusername_under").innerHTML = 'Username "' + i.value + '" in use!';
                return;
            }
        })
    }
    function hideIfValid(t, elem) {
        if (t.checkValidity()) {
            hideElem(elem);
        } else {
            showElem(elem);
        }
    }

    const accounts = new Map();

    function GetAccount(username, callback) {
        if (username.length < 3) { return 400; }
        let cache = accounts.get(username)
        if (cache) {
            callback(cache);
            return;
        }
        fetch('/account/' + username, { method: 'GET' })
            .then(response => {
                accounts.set(username, response.status);
                callback(response.status);
            })
            .catch(() => { });
    }
</script>

<form onsubmit="RegisterAccount(event, this);">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3>Create GDLE Account</h3>
                Use this form to create an account. This server is configured to:
                <ul>
                    <li id="account_limit_email" style='display:none;'></li>
                    <li id="account_limit_ip" style='display:none;'></li>
                    <li id="account_limit_proxy" style='display:none;'>Block account creation from proxy services</li>
                    <li id="login_limit_proxy" style='display:none;'>Block account login from proxy services</li>
                    <li id="require_email" style='display:none;'>Require E-mail Address</li>
                    <li id="account_sq_max" style='display:none;'></li>
                    <li id="account_sq_min" style='display:none;'></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6 bi-inset">
                <label for="regusername" title="Required"><span class="ms-text-primary">* </span>Username</label>
                <i class="bi i-inset bi-person"></i>
                <input class="ms-fullwidth" type="text" placeholder="Username" id="regusername" name="username" minlength="3" maxlength="40" required pattern="^[a-zA-Z0-9_]{3,}$" autocomplete="nickname" oninput="ValidateUsername(this);" />
                <span class="ms-under-input ms-text-primary" id="regusername_under"><small>Must be at least 3 characters long, Using: [a-zA-Z0-9_]</small></span>
            </div>
            <div class="col-sm-6 bi-inset" id="regemail_row">
                <label for="regemail" title="Required"><span id="regemail_required" class="ms-text-primary">* </span></i> E-Mail</label>
                <i class='bi i-inset bi-mailbox'></i>
                <input class="ms-fullwidth" type="email" placeholder="E-Mail" id="regemail" name="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" oninput="hideIfValid(this,'regemail_under');" autocomplete="email" />
                <span class="ms-under-input ms-text-primary" id="regemail_under"><small>Must be valid</small></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 bi-inset">
                <label for="regpassword" title="Required"><span class="ms-text-primary">* </span>Password</label>
                <i class="bi i-inset bi-shield-lock"></i>
                <div class="ms-fullwidth ms-btn-group">
                    <input class="ms-fullwidth" type="password" placeholder="Password" id="regpassword" name="password" required pattern="^[a-z0-9&?!*^%#@\-_=|]{8,}$" autocomplete="new-password" style="width: calc(100% - 98px) !important;" onblur="HidePasswordEvent(event);" oninput="hideIfValid(this,'regpassword_under');" />
                    <button type="button" class="ms-btn bi-eye-slash" title="Show Password" onclick="TogglePasswordEvent(event);"></button>
                    <button type="button" class="ms-btn bi-shield-plus" title="Generate Password" onclick="GenFormPassword(event,12,'0123456789abcdefghijklmnopqrstuvwxyz&?!*^%#@-_=|');hideElem('regpassword_under');"></button>
                </div>
                <span class="ms-under-input ms-text-primary" id="regpassword_under"><small>Must be at least 8 characters long, no uppercase. Using: [a-z0-9&?!*^%#@\-_=|]</small></span>
            </div>
            <div class="col-sm-6 bi-inset">
                <label for="regpassword_repeat" title="Required"><span class="ms-text-primary">* </span>Retype password</label>
                <i class="bi i-inset bi-shield-lock"></i>
                <div class="ms-fullwidth ms-btn-group">
                    <input class="ms-fullwidth" type="password" placeholder="Password" id="regpassword_repeat" required autocomplete="off" style="width: calc(100% - 49px) !important;" onblur="HidePasswordEvent(event);" oninput="ValidateRepeatPassword(this);" />
                    <button type="button" class="ms-btn bi-eye-slash" title="Show Password" onclick="TogglePasswordEvent(event);"></button>
                </div>
                <span class="ms-under-input ms-text-primary" id="regpassword_repeat_under"><small>Must match Password</small></span>
            </div>
        </div>

        <datalist id="regsq">
            <option>What is the airspeed velocity of an unladen swallow?</option>
            <option>In what city did you meet your spouse/significant other?</option>
            <option>What was your childhood nickname?</option>
            <option>What is the name of your favorite childhood friend?</option>
            <option>What street did you live on in third grade?</option>
            <option>What is your oldest sibling's birthday month and year? (e.g., January 1900)</option>
            <option>What is the middle name of your youngest child?</option>
            <option>What is your oldest sibling's middle name?</option>
            <option>What school did you attend for sixth grade?</option>
            <option>What was your childhood phone number including area code? (e.g., 000-000-0000)</option>
            <option>What is your oldest cousin's first and last name?</option>
            <option>What was the name of your first stuffed animal?</option>
            <option>In what city or town did your mother and father meet?</option>
            <option>Where were you when you had your first kiss?</option>
            <option>What is the first name of the boy or girl that you first kissed?</option>
            <option>What was the last name of your third grade teacher?</option>
            <option>In what city does your nearest sibling live?</option>
            <option>What is your youngest brother's birthday month and year? (e.g., January 1900)</option>
            <option>What is your maternal grandmother's maiden name?</option>
            <option>In what city or town was your first job?</option>
            <option>What is the name of the place your wedding reception was held?</option>
            <option>What is the name of a college you applied to but didn't attend?</option>
            <option>Where were you when you first heard about 9/11?</option>
        </datalist>
        <br>
        <div id="sq_holder" class="row"></div>
        <br>
        <div>
            <button id="reg_submit" class="ms-btn ms-primary ms-fullwidth">Register</button>
        </div>
        <div style="text-align: right;">
            <span class="ms-text-primary">* </span>: required
        </div>

        <script type="text/javascript">
            function addSQ(rowid, optional) {
                let holder = document.getElementById("sq_holder");

                let row = document.createElement("div");


                let q = document.createElement("div");
                let qlabel = document.createElement("label");
                let qi = document.createElement("i");
                let qinput = document.createElement("input");

                if (optional) {
                    qlabel.innerHTML = 'Security Question #' + rowid;
                    qlabel.style.opacity = 0.75;
                    qlabel.title = "Optional";
                } else {
                    qlabel.innerHTML = '<span class="ms-text-primary">* </span>Security Question #' + rowid;
                    qlabel.title = "Required";
                    qinput.required = true;
                }
                row.className = "row";
                row.id = "regsq" + rowid + "_row";

                q.className = "col-sm-6 bi-inset";
                qi.className = "bi i-inset bi-question";
                qinput.className = "ms-fullwidth";
                qinput.type = "text";
                qinput.placeholder = "Security Question #" + rowid;
                qinput.id = "regsq" + rowid;
                qinput.name = qinput.id;
                qinput.setAttribute('list', 'regsq');
                qinput.autocomplete = "off";

                q.appendChild(qlabel)
                q.appendChild(qi)
                q.appendChild(qinput)

                row.appendChild(q);

                let a = document.createElement("div");
                let alabel = document.createElement("label");
                let ainput = document.createElement("input");

                if (optional) {
                    alabel.innerHTML = '<span id="regsa' + rowid + '_required"></span>Answer #' + rowid;
                    alabel.style.opacity = 0.75;
                    alabel.title = "Optional";
                } else {
                    alabel.innerHTML = '<span id="regsa' + rowid + '_required" class="ms-text-primary">* </span>Answer #' + rowid;
                    alabel.title = "Required";
                    ainput.required = true;
                }

                a.className = "col-sm-6";

                ainput.className = "ms-fullwidth";
                ainput.type = "text";
                ainput.placeholder = "Answer #" + rowid;
                ainput.id = "regsa" + rowid;
                ainput.name = ainput.id;
                ainput.autocomplete = "off";

                a.appendChild(alabel);
                a.appendChild(ainput);

                row.appendChild(a);

                holder.appendChild(row);

            }

            function setOptional(elem) {
                document.getElementById(elem).required = false;
                let h = document.getElementById(elem + "_required");
                h.classList.remove("ms-text-primary");
                h.parentElement.style.opacity = 0.75;
                h.innerHTML = '';
                h.parentElement.title = 'Optional';
            }

            if (api_conf.account_limit_email > 0) {
                document.getElementById("account_limit_email").innerHTML = 'Allow (up to) ' + api_conf.account_limit_email + ' account(s) per E-Mail address';
                showElem("account_limit_email");
            }
            if (api_conf.account_limit_ip > 0) {
                document.getElementById("account_limit_ip").innerHTML = 'Allow (up to) ' + api_conf.account_limit_ip + ' account(s) per IP Address';
                showElem("account_limit_ip");
            }
            if (api_conf.account_limit_proxy) {
                showElem("account_limit_proxy");
            }
            if (api_conf.login_limit_proxy) {
                showElem("login_limit_proxy");
            }

            if (api_conf.account_sq_max > 0) {
                document.getElementById("account_sq_max").innerHTML = 'Allow (up to) ' + api_conf.account_sq_max + ' Security Question(s).';
                showElem("account_sq_max");
            }
            if (api_conf.account_sq_min > 0) {
                document.getElementById("account_sq_min").innerHTML = 'Require ' + api_conf.account_sq_min + ' Security Question(s).';
                showElem("account_sq_min");
            }

            if (api_conf.require_email) {
                showElem("require_email");
            } else {
                setOptional("regemail")
            }
            showElem("can_set_email");


            // iterate through all (potentially 0) security questions, and call addSQ.
            // optional is set with a condition, here.
            for (let i = 1; i <= api_conf.account_sq_max; i++) {
                addSQ(i, i > api_conf.account_sq_min);
            }

        </script>
    </div>
</form>
