Edit server.cfg
<div class="container">
    <div class="ms-card ms-fill ms-border">
        <div class="row">
            <div class="col-sm">
                <button class="ms-btn ms-secondary bi-arrow-clockwise" onclick="Loadjson('/server.json')">Load (From Server)</button>
                <button class="ms-btn ms-primary bi-upload" onclick="Savejson('/server.json')">Save (To Server)</button>
                <input class="ms-autowidth" type="file" onchange="servercfg_onChange(event)" id="servercfg" placeholder="Your server.cfg" />
                <button class="ms-btn ms-secondary bi-arrow-clockwise" onclick="load_onClick(event)">Load (Upload)</button>
                <button class="ms-btn ms-primary bi-download" onclick="save_onClick(event)">Save (Download)</button>
            </div>
        </div>
        <div id='editor_holder'></div>
    </div>
</div>
<script type="text/javascript">

    function servercfg_onChange(event) {
        var reader = new FileReader();
        reader.onload = servercfg_onReaderLoad;
        reader.readAsText(event.target.files[0]);
    }
    function load_onClick(event) {
        var reader = new FileReader();
        reader.onload = servercfg_onReaderLoad;
        reader.readAsText(document.getElementById("servercfg").files[0]);
    }
    function save_onClick(event) {
        const editorObject = editor.getValue();
        var saveFile = "";
        for (var key in editorObject) {
            let value = editorObject[key];
            if (value === true) {
                saveFile += key + "=1\n";
            } else if (value === false) {
                saveFile += key + "=0\n";
            } else {
                saveFile += key + "=" + value + "\n";

            }
        }
        var element = document.createElement('a');
        element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(saveFile));
        element.setAttribute('download', "server.cfg");

        element.style.display = 'none';
        document.body.appendChild(element);

        element.click();

        document.body.removeChild(element);
    }
    function servercfg_onReaderLoad(event) {
        const lines = event.target.result.split('\n');
        let editorObject = {}
        for (i = 0; i < lines.length; i++) {
            const line = lines[i];
            if (line.charAt(0).match(/[a-z]/i) && line.indexOf('=')) {
                const key = line.slice(0, line.indexOf('='));
                const value = line.slice(line.indexOf('=') + 1);
                editorObject[key] = value;
            }
        }
        editor.setValue(editorObject);
    }


    //var pageWants = 6;
    function Loadjson(uri) {
        fetch(uri)
            .then((response) => response.json())
            .then((data) => {
                editor.setValue(data)
            })
    }
    function Savejson(uri) {
        fetch(uri, {
            method: 'put',
            body: JSON.stringify(editor.getValue(), null, 2)
        })
            .then(response => {
                if (response.status !== 200) {
                    console.log("Savejson(" + uri + ") error: " + response.status + ": " + response.statusText)
                }
            });
    }
    var editor = new JSONEditor(document.getElementById('editor_holder'), {
        theme: 'barebones',
        iconlib: "fontawesome4",
        ajax: true,
        display_required_only: true,
        //disable_properties: true,
        disable_collapse: true,
        //disable_edit_json: true,
        schema: { "$ref": "/schema/server.json" }
    });
    // editor.on('ready', function () {
    //     Loadjson('/server.json');
    // });
</script>
