Spells: Management
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <span class="ms-text-secondary" style="width: 50%;"><i id="pg_item_first">1</i> - <i id="pg_item_last">5</i> of <i id="pg_item_total">5</i></span>
                <span class="ms-text-secondary" style="width: 50%;text-align:right;">Page <strong id="pg_cur">1</strong> of <strong id="pg_nums">5</strong></span>
            </div>
            <div class="row">
                <div id="paginationID" class="pagination"></div>
            </div>
            <div id="criteria_holder" class="ms-form-group-inline" style="display:'';">
                <label for="criteria">Search Criteria</label>
                <input tabindex="4" type="text" id="criteria" class="ms-small" oninput="setCriteria(event, this)" value="" title="Search String">
            </div>
            <ul id="list_items" class="account-list">
            </ul>
        </div>
        <div class="col-sm-9">
            <div id="save_item" class="col-sm-12" style="display:none;">
                <div class="ms-fullwidth ms-btn-group">
                    <button tabindex="5" type="button" class="ms-btn ms-primary bi-save" title="Primary Button" onclick="SaveChanges(this);">Save Changes</button>
                    <button tabindex="6" type="button" class="ms-btn ms-action2 bi-arrow-clockwise" title="Action2 Button" onclick="UndoClick();">Undo Changes</button>
                </div>
            </div>

            <ul class="y-list">
                <li><label>Name</label><span id="spell_name"></span></li>
                <li><label>ID</label><span id="spell_id"></span></li>
            </ul>
            <div id='editor_holder' class="col-sm-12"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    // var pageWants = 4;
    function LoadList() {
        fetch(`/gdle/spells.json`, { method: 'GET' })
            .then(response => {
                if (response.status != 200) {
                    document.getElementById("userWarningContent").innerHTML = "Request error " + response.status + ": " + response.statusText;
                    showElem("userWarning");
                    return;
                }
                return response.json();
            }).then((json) => {
                spells = json;
                spells_array = Object.keys(spells);
                initializeList();
            });
    }
    var spells = null;
    var spells_array = null;
    var activeItem = null;
    var activeItemName = "";
    var searchCriteria = "";
    var total_pages = 1;
    var items_perpage = 25;
    const saveItem = document.getElementById("save_item");
    var editor = new JSONEditor(document.getElementById('editor_holder'), {
        theme: 'barebones',
        iconlib: "fontawesome4",
        ajax: true,
        display_required_only: true,
        disable_properties: true,
        disable_collapse: true,
        disable_edit_json: true,
        schema: { "$ref": "/schema/spells.json#/properties/table/properties/spellBaseHash/items/properties/value" }
    });
    editor.on('change', () => {
        if (cur_item == null) {
            return;
        }
        const errors = editor.validate();
        if (errors.length) {
            saveItem.style.display = 'none';
            // errors is an array of objects, each with a `path`, `property`, and `message` parameter
            // `property` is the schema keyword that triggered the validation error (e.g. "minLength")
            // `path` is a dot separated path into the JSON object (e.g. "root.path.to.field")
            console.log(errors);
        }
        else {
            let newVal = editor.getValue();
            if (JSON.stringify(cur_item) === JSON.stringify(newVal)) {
                saveItem.style.display = 'none';

            } else {
                saveItem.style.display = '';
            }
        }
    });
    function setCriteria(event, t) {
        let newCriteria = t.value.toLowerCase();
        if (newCriteria === searchCriteria) {
            return;
        }
        searchCriteria = newCriteria;
        spells_array = [];

        for (var spellid in spells) {
            if (spells[spellid].toLowerCase().includes(searchCriteria)) { spells_array[spells_array.length] = spellid; }
        }
        initializeList();
    }


    function setPage(page) {
        pagePagination.page = page;
        pagePagination.Start();
        document.getElementById("pg_cur").innerHTML = page;

        let anchor = document.getElementById("list_items");
        while (anchor.firstChild) {
            anchor.removeChild(anchor.firstChild);
        }
        let first_item = (page - 1) * items_perpage;
        let last_item = (first_item + items_perpage);
        var l = spells_array.length;
        if (last_item >= l) {
            last_item = l - 1;
        }
        document.getElementById("pg_item_first").innerHTML = first_item + 1;
        document.getElementById("pg_item_last").innerHTML = last_item;

        for (var i = first_item; i <= last_item; i++) {
            const li = document.createElement("li");
            li.innerHTML = spells[spells_array[i]];
            li.id = spells_array[i];
            if (li.innerHTML == activeItemName) {
                li.classList.add("active-item");
                activeItem = li;
            }
            li.onclick = function (e) {
                if (activeItem && activeItem != e.target) {
                    activeItem.classList.remove("active-item");
                }
                e.target.classList.add("active-item");
                activeItem = e.target;
                activeItemName = e.target.innerHTML;
                ViewItem(parseInt(e.target.id));
            }
            anchor.appendChild(li);
        }
    }
    function initializeList() {
        total_pages = Math.ceil(spells_array.length / items_perpage);
        document.getElementById("pg_item_total").innerHTML = spells_array.length;
        document.getElementById("pg_nums").innerHTML = total_pages;
        pagePagination.size = total_pages;
        setPage(1);
    }

    function SaveChanges(t) {
        tempDisableButton(t, 2000);
        let responseStatus = 0;
        fetch('/gdle/spells/' + cur_id + '.json', {
            method: 'PUT',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(editor.getValue())
        }).then(response => {
            responseStatus = response.status;
            return response.text();
        }).then((data) => {
            if (responseStatus != 204) {
                document.getElementById("userWarningContent").innerHTML = responseStatus + ": " + data;
                showElem("userWarning");
                return;
            }
            document.getElementById("userWarningContent").innerHTML = "Changes Saved";
            showElem("userWarning");
            UndoClick();
            ViewItem(cur_id);
        });

    }
    var cur_item = null;
    var cur_id = -1;
    function ViewItem(itemid) {
        let responseStatus = 0;
        fetch('/gdle/spells/' + itemid + '.json', { method: 'GET' })
            .then(response => {
                responseStatus = response.status;
                if (responseStatus != 200) {
                    return response.text();
                }
                return response.json();
            }).then((json) => {
                if (responseStatus != 200) {
                    document.getElementById("userWarningContent").innerHTML = "Request error " + responseStatus + ': ' + json;
                    showElem("userWarning");
                    return;
                }
                cur_id = itemid;
                cur_item = json;
                document.getElementById("spell_id").innerHTML = cur_id;
                document.getElementById("spell_name").innerHTML = json.name;
                editor.setValue(cur_item);
            })
    }
    function UndoClick() {
        editor.setValue(cur_item);
    }

    var pagePagination = {
        code: '',
        Extend: function (data) {
            data = data || {};
            pagePagination.size = data.size || 300;
            pagePagination.page = data.page || 1;
            pagePagination.step = data.step || 3;
        },
        Add: function (p, q) {
            for (var l = p; l < q; l++) {
                pagePagination.code += '<a>' + l + '</a>';
            }
        },
        Last: function () {
            pagePagination.code += '<i>...</i><a>' + pagePagination.size + '</a>';
        },
        First: function () {
            pagePagination.code += '<a>1</a><i>...</i>';
        },
        Click: function () {
            pagePagination.page = parseInt(this.innerHTML);
            setPage(pagePagination.page)
        },
        Prev: function () {
            pagePagination.page--;
            if (pagePagination.page < 1) {
                pagePagination.page = 1;
                return;
            }
            setPage(pagePagination.page)
        },
        Next: function () {
            pagePagination.page++;
            if (pagePagination.page > pagePagination.size) {
                pagePagination.page = pagePagination.size;
                return;
            }
            setPage(pagePagination.page)
        },
        Bind: function () {
            var a = pagePagination.e.getElementsByTagName('a');
            for (var num = 0; num < a.length; num++) {
                if (+a[num].innerHTML === pagePagination.page)
                    a[num].className = 'ms-bg-primary';
                a[num].addEventListener('click', pagePagination.Click, false);
            }
        },
        Finish: function () {
            pagePagination.e.innerHTML = pagePagination.code;
            pagePagination.code = '';
            pagePagination.Bind();
        },
        Start: function () {
            if (pagePagination.size < pagePagination.step * 2 + 6) {
                pagePagination.Add(1, pagePagination.size + 1);
            } else if (pagePagination.page < pagePagination.step * 2 + 1) {
                pagePagination.Add(1, pagePagination.step * 2 + 4);
                pagePagination.Last();
            } else if (pagePagination.page > pagePagination.size - pagePagination.step * 2) {
                pagePagination.First();
                pagePagination.Add(pagePagination.size - pagePagination.step * 2 - 2,
                    pagePagination.size + 1);
            } else {
                pagePagination.First();
                pagePagination.Add(pagePagination.page - pagePagination.step,
                    pagePagination.page + pagePagination.step + 1);
                pagePagination.Last();
            }
            pagePagination.Finish();
        },
        Buttons: function (e) {
            var nav = e.getElementsByTagName('a');
            nav[0].addEventListener('click', pagePagination.Prev, false);
            nav[1].addEventListener('click', pagePagination.Next, false);
        },
        Create: function (e) {
            e.innerHTML = '<a>◄</a><span></span><a>►</a>';
            pagePagination.e = e.getElementsByTagName('span')[0];
            pagePagination.Buttons(e);
        },
        Init: function (e, data) {
            pagePagination.Extend(data);
            pagePagination.Create(e);
            //pagePagination.Start();
        }
    };

    pagePagination.Init(document.getElementById('paginationID'), {
        size: 1,
        page: 1,
        step: 2
    });

    LoadList();
    // window.addEventListener('load', (event) => {
    // });

</script>
