Admin: User Management
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <span class="ms-text-secondary" style="width: 50%;"><i id="pg_item_first">1</i> - <i id="pg_item_last">5</i> of <i id="pg_item_total">5</i></span>
                <span class="ms-text-secondary" style="width: 50%;text-align:right;">Page <strong id="pg_cur">1</strong> of <strong id="pg_nums">5</strong></span>
            </div>
            <div class="row">
                <div id="paginationID" class="pagination"></div>
            </div>
            <div class="ms-form-group-inline">
                <select tabindex="1" id="perpage" class="ms-small" oninput="ListAccounts(1);" title="Per Page">
                    <option>10</option>
                    <option selected>25</option>
                    <option>50</option>
                    <option>100</option>
                    <option>250</option>
                    <option>500</option>
                </select>
                <select tabindex="2" id="columnname" class="ms-small" oninput="OtherListAccounts(this);ListAccounts(1);" title="Column Name">
                    <option selected value="&username">Username</option>
                    <option value="&ip">IP</option>
                    <option value="&email">Email</option>
                    <option value="&access">Access</option>
                </select>
            </div>
            <div id="access_holder" class="ms-form-group-inline" style="display:none;">
                <select tabindex="3" id="access" class="ms-small ms-fullwidth" oninput="ListAccounts(1);" title="Access">
                    <option value="0">None</option>
                    <option value="1">User</option>
                    <option value="3">Advocate</option>
                    <option value="4">Sentinel</option>
                    <option value="6" selected>Admin</option>
                </select>
            </div>
            <div id="criteria_holder" class="ms-form-group-inline" style="display:'';">
                <label for="criteria">Search Criteria</label>
                <input tabindex="4" type="text" id="criteria" class="ms-small" oninput="ListAccounts(1);" value="" title="Search String">
            </div>
            <ul id="accounts" class="account-list">
            </ul>
        </div>
        <div class="col-sm-9 save-div">
            <div class="save-menu" style="width:100%">
                <div class="ms-fullwidth ms-btn-group">
                    <button tabindex="5" type="button" class="ms-btn ms-primary bi-save" title="Primary Button" onclick="SaveChanges(this);">Save Changes</button>
                    <button tabindex="6" type="button" class="ms-btn ms-action2 bi-arrow-clockwise" title="Action2 Button" onclick="UndoClick();">Undo Changes</button>
                </div>
            </div>
            <ul class="y-list">
                <li><label>Username</label><span id="accounts_username"></span></li>
                <li><label>ID</label><span id="accounts_id"></span></li>
                <li><label><a herf="" onclick="showCommonEmails();">Common</a><br>Email</label><span id="accounts_email"></span></li>
                <li><label><a herf="" onclick="showCommonIPs();">Common</a><br>Created IP Address</label><span id="accounts_created_ip_address"></span></li>
                <li><label>Date Created</label><span id="accounts_date_created"></span></li>
                <li><label>Last Update</label><span id="accounts_last_update"></span></li>
                <li><label>Security Questions</label><span id="sqa_holder" style="cursor:pointer;"></span></li>
                <li>
                    <label for="accounts_password">Password</label>
                    <div class="ms-fullwidth">
                        <input tabindex="7" class="ms-fullwidth has-undo-button" type="text" placeholder="password" id="accounts_password" name="password" autocomplete="off" />
                        <button type="button" class="ms-btn bi-arrow-clockwise undo-button" title="Undo Edit" onclick='this.previousElementSibling.value=this.previousElementSibling.pattern,this.previousElementSibling.setCustomValidity("");'></button>
                    </div>
                </li>
                <li>
                    <label for="accounts_password_raw">Set Password</label>
                    <div class="ms-fullwidth">
                        <input tabindex="8" class="ms-fullwidth has-undo-button" type="text" placeholder="password" id="accounts_password_raw" pattern="^[a-z0-9&?!*^%#@\-_=|]{8,}$" name="password" autocomplete="off" oninput="MakeGDLEPassword(this);" />
                        <button type="button" class="ms-btn bi-shield-plus" title="Generate Password" onclick="GenerateGDLEPassword();"></button>
                    </div>
                </li>
                <li>
                    <label for="accounts_access">Access</label>
                    <div>
                        <select tabindex="9" id="accounts_access" class="ms-fullwidth has-undo-button" title="Access" name="access" autocomplete="off" oninput='this.original!=this.value?this.setCustomValidity("Changed"):this.setCustomValidity("")'>
                            <option value="0">None</option>
                            <option value="1">User</option>
                            <option value="3">Advocate</option>
                            <option value="4">Sentinel</option>
                            <option value="6" selected>Admin</option>
                        </select>
                        <button type="button" class="ms-btn bi-arrow-clockwise undo-button" title="Undo Edit" onclick='this.previousElementSibling.value=this.previousElementSibling.original,this.previousElementSibling.setCustomValidity("");'></button>
                    </div>
                </li>
                <li>
                    <label for="accounts_banned">Banned</label>
                    <div>
                        <input tabindex="10" class="y-check" type="checkbox" id="accounts_banned" name="banned" checked autocomplete="off" oninput='this.original!=this.checked?this.setCustomValidity("Changed"):this.setCustomValidity("")' />
                        <button type="button" class="ms-btn bi-arrow-clockwise undo-button" title="Undo Edit" onclick='this.previousElementSibling.checked=this.previousElementSibling.original,this.previousElementSibling.setCustomValidity("");'></button>
                    </div>
                </li>
            </ul>


        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script type="text/javascript">
    var pageWants = 4;
    function showCommonIPs() {
        document.getElementById("columnname").value = '&ip';
        OtherListAccounts(document.getElementById("columnname"));
        document.getElementById("criteria").value = document.getElementById("accounts_created_ip_address").original;
        ListAccounts(1);

    }
    function showCommonEmails() {
        document.getElementById("columnname").value = '&email';
        OtherListAccounts(document.getElementById("columnname"));
        document.getElementById("criteria").value = document.getElementById("accounts_email").innerHTML;
        ListAccounts(1);
    }



    function GenerateGDLEPassword() {
        var chars = '0123456789abcdefghijklmnopqrstuvwxyz&?!*^%#@-_=|';
        var password = "";
        for (var i = 0; i < 12; i++) {
            var randomNumber = Math.floor(Math.random() * chars.length);
            password += chars.substring(randomNumber, randomNumber + 1);
        }
        let rawpw = document.getElementById("accounts_password_raw");
        rawpw.value = password;
        rawpw.select();
        document.execCommand('copy');
        MakeGDLEPassword(rawpw);
    }
    function MakeGDLEPassword(password) {
        if (!password.checkValidity()) {
            document.getElementById("accounts_password").value = document.getElementById("accounts_password").pattern;
            return;
        }
        var salt = "";
        for (var i = 0; i < 16; i++) {
            var randomNumber = Math.floor(Math.random() * 16);
            salt += '0123456789abcdef'.substring(randomNumber, randomNumber + 1);
        }
        document.getElementById("accounts_password").value = salt + CryptoJS.SHA512(password.value + salt).toString().substring(0, 64);
        return true;
    }
    function OtherListAccounts(t) {
        if (t.value != t.prevValue) {
            if (t.value == "&access") {
                document.getElementById("access").value = '6';
                hideElem("criteria_holder")
                showElem("access_holder");
            } else {
                document.getElementById("criteria").value = '';
                hideElem("access_holder");
                showElem("criteria_holder")
            }
        }
        t.prevValue = t.value;
    }
    // admin account list
    // GET /accounts[?page & perpage & search]
    // page: optional, 1-5000, page number, default 1
    // perpage: optional, 10-2000, records per page, default 50
    // search: optional, sql like statement, default '%' (%25)
    // returns: json array of account names, matching the criteria; ordered by account id.
    // GET https://funkyac.ga/accounts?page=650&perpage=10&search=%25 X-Api: page:650 pages:650 perpage:10 totalrecords:6494 records:4 search:"%25" runtime:3.5123ms
    // GET https://funkyac.ga/accounts?page=1&perpage=10&search=yon%25 X-Api: page:1 pages:2 perpage:10 totalrecords:12 records:10 search:"yon%25" runtime:2.0866ms
    // GET https://funkyac.ga/accounts?page=1&perpage=2000&search=a%25 X-Api: page:1 pages:1 perpage:2000 totalrecords:499 records:499 search:"a%25" runtime:2.359ms
    // GET https://funkyac.ga/accounts X-Api: page:1 pages:130 perpage:50 totalrecords:6494 records:50 search:"%25" runtime:2.2858ms
    // GET https://funkyac.ga/accounts?search=yonneh%25 X-Api: page:1 pages:1 perpage:50 totalrecords:12 records:12 search:"yonneh%25" runtime:1.9851ms
    // ["yonneh","yonneh2","yonneh5","yonneh3","yonneh4","yonneh6","yonneh_real","yonnehreal","yonneh7","yonneh8","yonneh9","yonnehh"]
    function ListAccounts(page) {

        let searchString = `&search=${(encodeURIComponent(document.getElementById("criteria").value))}`;
        let colName = document.getElementById("columnname").value;
        let per_page = document.getElementById("perpage").value;

        if (colName == "&access") {
            searchString = `&search=${(encodeURIComponent(document.getElementById("access").value))}`;
        }
        fetch(`/accounts?page=${page}&perpage=${per_page}${searchString}${colName}`, { method: 'GET' })
            .then(response => {
                if (response.status != 200) {
                    document.getElementById("userWarningContent").innerHTML = "Request error " + response.status + ": " + response.statusText;
                    showElem("userWarning");
                    return;
                }
                let api = JSON.parse(response.headers.get('x-api'))

                document.getElementById("pg_item_first").innerHTML = 1 + ((api.page - 1) * api.perpage);
                document.getElementById("pg_item_last").innerHTML = api.records + ((api.page - 1) * api.perpage);
                document.getElementById("pg_item_total").innerHTML = api.totalrecords;
                document.getElementById("pg_cur").innerHTML = api.page;
                document.getElementById("pg_nums").innerHTML = api.pages;

                pagePagination.size = api.pages;
                pagePagination.page = api.page;
                pagePagination.Start();

                return response.json();
            }).then((json) => {
                let anchor = document.getElementById("accounts");
                while (anchor.firstChild) {
                    anchor.removeChild(anchor.firstChild);
                }
                if (!json) { return; }
                var l = json.length;
                for (var i = 0; i < l; i++) {
                    const li = document.createElement("li");
                    li.innerHTML = json[i];
                    if (li.innerHTML == activeAccountName) {
                        li.classList.add("active-item");
                        activeAccount = li;
                    }
                    li.onclick = function (e) {
                        if (activeAccount && activeAccount != e.target) {
                            activeAccount.classList.remove("active-item");
                        }
                        e.target.classList.add("active-item");
                        activeAccount = e.target;
                        activeAccountName = e.target.innerHTML;
                        ViewAccount(encodeURIComponent(activeAccountName));
                    }
                    anchor.appendChild(li);
                }
            })
        columnname
    }
    var activeAccount = null;
    var activeAccountName = "";

    function SaveChanges(t) {
        tempDisableButton(t, 2000);
        let responseStatus = 0;
        fetch(`/accounts/${(encodeURIComponent(document.getElementById("accounts_username").innerHTML))}`, {
            method: 'PUT',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                password: document.getElementById("accounts_password").value,
                access: parseInt(document.getElementById("accounts_access").value),
                banned: document.getElementById("accounts_banned").checked
            })
        }).then(response => {
            responseStatus = response.status;
            return response.text();
        }).then((data) => {
            if (responseStatus != 200) {
                document.getElementById("userWarningContent").innerHTML = responseStatus + ": " + data;
                showElem("userWarning");
                return;
            }
            document.getElementById("userWarningContent").innerHTML = "Changes Saved";
            showElem("userWarning");
            UndoClick();
            ViewAccount(document.getElementById("accounts_username").innerHTML);

        });

    }

    function ViewAccount(username) {

        if (!document.getElementById("accounts_password").validity.valid) {
            alert(`There are unsaved changes to ${(document.getElementById("accounts_username").innerHTML)}'s password.`);
            return false;
        }
        if (!document.getElementById("accounts_access").validity.valid) {
            alert(`There are unsaved changes to ${(document.getElementById("accounts_username").innerHTML)}'s access.`);
            return false;
        }
        if (!document.getElementById("accounts_banned").validity.valid) {
            if (document.getElementById("accounts_banned").original) {
                alert(`If you navigate away, ${(document.getElementById("accounts_username").innerHTML)} will remain banned!`);
            } else {
                alert(`If you navigate away, ${(document.getElementById("accounts_username").innerHTML)} will not be banned!`);
            }

            return false;
        }
        let responseStatus = 0;
        fetch('/accounts/' + username, { method: 'GET' })

            .then(response => {
                responseStatus = response.status;
                if (responseStatus != 200) {
                    return response.text();
                }
                return response.json();
            }).then((json) => {
                if (responseStatus != 200) {
                    document.getElementById("userWarningContent").innerHTML = "Request error " + responseStatus + ': ' + json;
                    showElem("userWarning");
                    return;
                }

                document.getElementById("accounts_id").innerHTML = json.id;
                document.getElementById("accounts_username").innerHTML = json.username;

                document.getElementById("accounts_date_created").innerHTML = json.date_created + '<br>' + new Date(json.date_created * 1000) + '<br>' + TimeCalculator(Math.floor(new Date() / 1000) - json.date_created);

                document.getElementById("accounts_created_ip_address").original = json.created_ip_address;
                document.getElementById("accounts_created_ip_address").innerHTML = json.created_ip_address;
                GetIPGEO(json.created_ip_address, function (ipg) {
                    document.getElementById("accounts_created_ip_address").innerHTML += '<br>' + ipg.city + ", " + ipg.region + ", " + ipg.countryCode + '<br>' + ipg.reverse
                    if (ipg.proxy) {
                        document.getElementById("accounts_created_ip_address").innerHTML += '<br><strong>PROXY</strong>';
                    }
                });
                document.getElementById("accounts_last_update").innerHTML = json.last_update + '<br>' + new Date(json.last_update * 1000) + '<br>' + TimeCalculator(Math.floor(new Date() / 1000) - json.last_update);



                let holder = document.getElementById("sqa_holder");
                while (sqa_holder.firstChild) {
                    sqa_holder.removeChild(sqa_holder.firstChild);
                }
                if (json.security) {
                    for (let i = 0; i < json.security.length; i++) {
                        let qlabel = document.createElement("label");
                        qlabel.innerHTML = `#${i + 1}: ${json.security[i].q}`;
                        qlabel.style.width = '66%';
                        let alabel = document.createElement("label");
                        alabel.innerHTML = json.security[i].a;
                        alabel.style.opacity = 0.75;
                        alabel.style.width = '34%';
                        alabel.style.textAlign = 'left';
                        holder.appendChild(qlabel);
                        holder.appendChild(alabel);
                        holder.appendChild(document.createElement("br"));
                    }
                }
                document.getElementById("accounts_email").innerHTML = json.email;

                document.getElementById("accounts_password_raw").value = "";
                document.getElementById("accounts_password").pattern = `${json.password_salt}${json.password}`;
                document.getElementById("accounts_password").value = `${json.password_salt}${json.password}`;

                let acc_access = document.getElementById("accounts_access");
                acc_access.original = `${json.access}`;
                acc_access.value = `${json.access}`;
                // acc_access.oninput = function (e) {
                //     if (e.target.original != e.target.value) {
                //         e.target.setCustomValidity("Changed");
                //     } else {
                //         e.target.setCustomValidity("");
                //     }
                // };

                let acc_banned = document.getElementById("accounts_banned");
                acc_banned.original = json.banned;
                acc_banned.checked = json.banned;
                // acc_banned.oninput = function (e) {
                //     if (e.target.original != e.target.checked) {
                //         e.target.setCustomValidity("Changed");
                //     } else {
                //         e.target.setCustomValidity("");
                //     }
                // };

            })



    }


    function UndoClick() {
        document.getElementById("accounts_banned").checked = document.getElementById("accounts_banned").original;
        document.getElementById("accounts_banned").setCustomValidity("");
        document.getElementById("accounts_access").value = document.getElementById("accounts_access").original;
        document.getElementById("accounts_access").setCustomValidity("");
        document.getElementById("accounts_password").value = document.getElementById("accounts_password").pattern;
        document.getElementById("accounts_password_raw").value = "";
    }



    const ipgeo = new Map();

    function GetIPGEO(ip, callback) {
        let cache = ipgeo.get(ip)
        if (cache) {
            callback(cache);
            return;
        }
        fetch(`/ip/${ip}`, { method: 'GET' })
            .then(response => response.json())
            .then(json => {
                ipgeo.set(ip, json);
                callback(json);
            });
    }

    //definately not just copy-pasted from stackexchange.... :innocent:
    function TimeCalculator(seconds) {
        let y = Math.floor(seconds / 31536000);
        let mo = Math.floor((seconds % 31536000) / 2628000);
        let d = Math.floor(((seconds % 31536000) % 2628000) / 86400);
        let h = Math.floor((seconds % (3600 * 24)) / 3600);
        let m = Math.floor((seconds % 3600) / 60);
        let s = Math.floor(seconds % 60);

        let yDisplay = y > 0 ? y + (y === 1 ? " year, " : " years, ") : "";
        let moDisplay = mo > 0 ? mo + (mo === 1 ? " month, " : " months, ") : "";
        let dDisplay = d > 0 ? d + (d === 1 ? " day, " : " days, ") : "";
        let hDisplay = h > 0 ? h + (h === 1 ? " hour, " : " hours, ") : "";
        let mDisplay = m > 0 ? m + (m === 1 ? " minute, " : " minutes, ") : "";
        let sDisplay = s > 0 ? s + (s === 1 ? " second, " : " seconds, ") : "";
        return (yDisplay + moDisplay + dDisplay + hDisplay + mDisplay + sDisplay).slice(0, -2);
    }

    var pagePagination = {
        code: '',
        Extend: function (data) {
            data = data || {};
            pagePagination.size = data.size || 300;
            pagePagination.page = data.page || 1;
            pagePagination.step = data.step || 3;
        },
        Add: function (p, q) {
            for (var l = p; l < q; l++) {
                pagePagination.code += '<a>' + l + '</a>';
            }
        },
        Last: function () {
            pagePagination.code += '<i>...</i><a>' + pagePagination.size + '</a>';
        },
        First: function () {
            pagePagination.code += '<a>1</a><i>...</i>';
        },
        Click: function () {
            pagePagination.page = parseInt(this.innerHTML);
            ListAccounts(pagePagination.page)
        },
        Prev: function () {
            pagePagination.page--;
            if (pagePagination.page < 1) {
                pagePagination.page = 1;
                return;
            }
            ListAccounts(pagePagination.page)
        },
        Next: function () {
            pagePagination.page++;
            if (pagePagination.page > pagePagination.size) {
                pagePagination.page = pagePagination.size;
                return;
            }
            ListAccounts(pagePagination.page)
        },
        Bind: function () {
            var a = pagePagination.e.getElementsByTagName('a');
            for (var num = 0; num < a.length; num++) {
                if (+a[num].innerHTML === pagePagination.page)
                    a[num].className = 'ms-bg-primary';
                a[num].addEventListener('click', pagePagination.Click, false);
            }
        },
        Finish: function () {
            pagePagination.e.innerHTML = pagePagination.code;
            pagePagination.code = '';
            pagePagination.Bind();
        },
        Start: function () {
            if (pagePagination.size < pagePagination.step * 2 + 6) {
                pagePagination.Add(1, pagePagination.size + 1);
            } else if (pagePagination.page < pagePagination.step * 2 + 1) {
                pagePagination.Add(1, pagePagination.step * 2 + 4);
                pagePagination.Last();
            } else if (pagePagination.page > pagePagination.size - pagePagination.step * 2) {
                pagePagination.First();
                pagePagination.Add(pagePagination.size - pagePagination.step * 2 - 2,
                    pagePagination.size + 1);
            } else {
                pagePagination.First();
                pagePagination.Add(pagePagination.page - pagePagination.step,
                    pagePagination.page + pagePagination.step + 1);
                pagePagination.Last();
            }
            pagePagination.Finish();
        },
        Buttons: function (e) {
            var nav = e.getElementsByTagName('a');
            nav[0].addEventListener('click', pagePagination.Prev, false);
            nav[1].addEventListener('click', pagePagination.Next, false);
        },
        Create: function (e) {
            e.innerHTML = '<a>◄</a><span></span><a>►</a>';
            pagePagination.e = e.getElementsByTagName('span')[0];
            pagePagination.Buttons(e);
        },
        Init: function (e, data) {
            pagePagination.Extend(data);
            pagePagination.Create(e);
            //pagePagination.Start();
        }
    };

    pagePagination.Init(document.getElementById('paginationID'), {
        size: 1,
        page: 1,
        step: 2
    });


    ListAccounts(1);
    window.addEventListener('load', (event) => {
        ViewAccount(claims.username);
    });

</script>
