Admin: Weenies
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <span class="ms-text-secondary" style="width: 50%;"><i id="pg_item_first">1</i> - <i id="pg_item_last">5</i> of <i id="pg_item_total">5</i></span>
                <span class="ms-text-secondary" style="width: 50%;text-align:right;">Page <strong id="pg_cur">1</strong> of <strong id="pg_nums">5</strong></span>
            </div>
            <div class="row">
                <div id="paginationID" class="pagination"></div>
            </div>
            <div class="ms-form-group-inline">
                <select tabindex="2" id="sort_by" class="ms-small" oninput="ListWeenies(1);" title="Sort By">
                    <option value="wcid" selected>WCID</option>
                    <option value="name">Name</option>
                </select>
            </div>
            <div id="weenie_type_holder" class="ms-form-group-inline">
                <select tabindex="3" id="type" class="ms-small ms-fullwidth" oninput="ListWeenies(1);" title="Type">
                    <option value="-1" selected>ALL</option>
                    <option value="0">Undef</option>
                    <option value="1">Generic</option>
                    <option value="2">Clothing</option>
                    <option value="3">MissileLauncher</option>
                    <option value="4">Missile</option>
                    <option value="5">Ammunition</option>
                    <option value="6">MeleeWeapon</option>
                    <option value="7">Portal</option>
                    <option value="8">Book</option>
                    <option value="9">Coin</option>
                    <option value="10">Creature</option>
                    <option value="11">Admin</option>
                    <option value="12">Vendor</option>
                    <option value="13">HotSpot</option>
                    <option value="14">Corpse</option>
                    <option value="15">Cow</option>
                    <option value="16">AI</option>
                    <option value="17">Machine</option>
                    <option value="18">Food</option>
                    <option value="19">Door</option>
                    <option value="20">Chest</option>
                    <option value="21">Container</option>
                    <option value="22">Key</option>
                    <option value="23">Lockpick</option>
                    <option value="24">PressurePlate</option>
                    <option value="25">LifeStone</option>
                    <option value="26">Switch</option>
                    <option value="27">PKModifier</option>
                    <option value="28">Healer</option>
                    <option value="29">LightSource</option>
                    <option value="30">Allegiance</option>
                    <option value="31">Type32</option>
                    <option value="32">SpellComponent</option>
                    <option value="33">ProjectileSpell</option>
                    <option value="34">Scroll</option>
                    <option value="35">Caster</option>
                    <option value="36">Channel</option>
                    <option value="37">ManaStone</option>
                    <option value="38">Gem</option>
                    <option value="39">AdvocateFane</option>
                    <option value="40">AdvocateItem</option>
                    <option value="41">Sentinel</option>
                    <option value="42">GSpellEconomy</option>
                    <option value="43">LSpellEconomy</option>
                    <option value="44">CraftTool</option>
                    <option value="45">LScoreKeeper</option>
                    <option value="46">GScoreKeeper</option>
                    <option value="47">GScoreGatherer</option>
                    <option value="48">ScoreBook</option>
                    <option value="49">EventCoordinator</option>
                    <option value="50">Entity</option>
                    <option value="51">Stackable</option>
                    <option value="52">HUD</option>
                    <option value="53">House</option>
                    <option value="54">Deed</option>
                    <option value="55">SlumLord</option>
                    <option value="56">Hook</option>
                    <option value="57">Storage</option>
                    <option value="58">BootSpot</option>
                    <option value="59">HousePortal</option>
                    <option value="60">Game</option>
                    <option value="61">GamePiece</option>
                    <option value="62">SkillAlterationDevice</option>
                    <option value="63">AttributeTransferDevice</option>
                    <option value="64">Hooker</option>
                    <option value="65">AllegianceBindstone</option>
                    <option value="66">InGameStatKeeper</option>
                    <option value="67">AugmentationDevice</option>
                    <option value="68">SocialManager</option>
                    <option value="69">Pet</option>
                    <option value="70">PetDevice</option>
                    <option value="71">CombatPet</option>
                </select>
            </div>
            <div id="criteria_holder" class="ms-form-group-inline">
                <input tabindex="4" type="text" id="criteria" class="ms-small" oninput="ListWeenies(1);" value="^.+$" title="Search String">
            </div>
            <ul id="weenies" class="account-list">
            </ul>
        </div>
        <div class="col-sm-9">
            <textarea id="weenie"></textarea>
        </div>
    </div>
</div>
<script type="text/javascript">
    var pageWants = 4;
    function ListWeenies(page) {
        let per_page = window.innerHeight >= 775 ? Math.round((window.innerHeight - 150) / 25) : 25;
        fetch(`/weenies/${(encodeURIComponent(document.getElementById("type").value))}/${(encodeURIComponent(document.getElementById("sort").value))}/${(encodeURIComponent(document.getElementById("criteria").value))}?page=${page}&perpage=${per_page}`, { method: 'GET' })
            .then(response => {
                if (response.status != 200) {
                    document.getElementById("userWarningContent").innerHTML = "Request error " + response.status + ": " + response.statusText;
                    showElem("userWarning");
                    return;
                }
                let api = JSON.parse(response.headers.get('x-api'))

                document.getElementById("pg_item_first").innerHTML = 1 + ((api.page - 1) * api.perpage);
                document.getElementById("pg_item_last").innerHTML = api.records + ((api.page - 1) * api.perpage);
                document.getElementById("pg_item_total").innerHTML = api.totalrecords;
                document.getElementById("pg_cur").innerHTML = api.page;
                document.getElementById("pg_nums").innerHTML = api.pages;

                pagePagination.size = api.pages;
                pagePagination.page = api.page;
                pagePagination.Start();

                return response.json();
            }).then((json) => {
                let anchor = document.getElementById("weenies");
                while (anchor.firstChild) {
                    anchor.removeChild(anchor.firstChild);
                }
                if (!json) { return; }
                var l = json.length;
                for (var i = 0; i < l; i++) {
                    const li = document.createElement("li");
                    li.innerHTML = `${json[i].wcid} - ${json[i].name}`;
                    li.wcid = json[i].wcid;
                    if (li.innerHTML == activeWeenieName) {
                        li.classList.add("active-item");
                        activeWeenie = li;
                    }
                    li.onclick = function (e) {
                        if (activeWeenie && activeWeenie != e.target) {
                            activeWeenie.classList.remove("active-item");
                        }
                        activeWeenie = e.target;
                        activeWeenie.classList.classList.add("active-item");
                        ViewWeenie(activeWeenie.wcid);
                    }
                    anchor.appendChild(li);
                }
            })
        columnname
    }
    var activeWeenie = null;
    var activeWeenieName = "";

    function ViewWeenie(wcid) {
        let responseStatus = 0;
        fetch(`/gdle/wcid/${wcid}.json`, { method: 'GET' })
            .then(response => {
                responseStatus = response.status;
                if (responseStatus != 200) {
                    return response.text();
                }
                return response.json();
            }).then((json) => {
                if (responseStatus != 200) {
                    document.getElementById("userWarningContent").innerHTML = "Request error " + responseStatus + ': ' + json;
                    showElem("userWarning");
                    return;
                }
                document.getElementById("weenie").innerText = JSON.stringify(json, null, 2);
            })
    }

    var pagePagination = {
        code: '',
        Extend: function (data) {
            data = data || {};
            pagePagination.size = data.size || 300;
            pagePagination.page = data.page || 1;
            pagePagination.step = data.step || 3;
        },
        Add: function (p, q) {
            for (var l = p; l < q; l++) {
                pagePagination.code += '<a>' + l + '</a>';
            }
        },
        Last: function () {
            pagePagination.code += '<i>...</i><a>' + pagePagination.size + '</a>';
        },
        First: function () {
            pagePagination.code += '<a>1</a><i>...</i>';
        },
        Click: function () {
            pagePagination.page = parseInt(this.innerHTML);
            ListWeenies(pagePagination.page)
        },
        Prev: function () {
            pagePagination.page--;
            if (pagePagination.page < 1) {
                pagePagination.page = 1;
                return;
            }
            ListWeenies(pagePagination.page)
        },
        Next: function () {
            pagePagination.page++;
            if (pagePagination.page > pagePagination.size) {
                pagePagination.page = pagePagination.size;
                return;
            }
            ListWeenies(pagePagination.page)
        },
        Bind: function () {
            var a = pagePagination.e.getElementsByTagName('a');
            for (var num = 0; num < a.length; num++) {
                if (+a[num].innerHTML === pagePagination.page)
                    a[num].className = 'ms-bg-primary';
                a[num].addEventListener('click', pagePagination.Click, false);
            }
        },
        Finish: function () {
            pagePagination.e.innerHTML = pagePagination.code;
            pagePagination.code = '';
            pagePagination.Bind();
        },
        Start: function () {
            if (pagePagination.size < pagePagination.step * 2 + 6) {
                pagePagination.Add(1, pagePagination.size + 1);
            } else if (pagePagination.page < pagePagination.step * 2 + 1) {
                pagePagination.Add(1, pagePagination.step * 2 + 4);
                pagePagination.Last();
            } else if (pagePagination.page > pagePagination.size - pagePagination.step * 2) {
                pagePagination.First();
                pagePagination.Add(pagePagination.size - pagePagination.step * 2 - 2,
                    pagePagination.size + 1);
            } else {
                pagePagination.First();
                pagePagination.Add(pagePagination.page - pagePagination.step,
                    pagePagination.page + pagePagination.step + 1);
                pagePagination.Last();
            }
            pagePagination.Finish();
        },
        Buttons: function (e) {
            var nav = e.getElementsByTagName('a');
            nav[0].addEventListener('click', pagePagination.Prev, false);
            nav[1].addEventListener('click', pagePagination.Next, false);
        },
        Create: function (e) {
            e.innerHTML = '<a>◄</a><span></span><a>►</a>';
            pagePagination.e = e.getElementsByTagName('span')[0];
            pagePagination.Buttons(e);
        },
        Init: function (e, data) {
            pagePagination.Extend(data);
            pagePagination.Create(e);
        }
    };

    pagePagination.Init(document.getElementById('paginationID'), {
        size: 1,
        page: 1,
        step: 2
    });


    ListWeenies(1);
    window.addEventListener('load', (event) => {
        ViewWeenie(273);
    });

</script>
